*.class
*.jar
*.db
*jar
.lein-deps-sum
.lein-env
.lein-failures
.lein-plugins/
.lein-repl-history
.lobos_stash.clj
.nrepl-port
/checkouts/
/classes/
/lib/
/log/
/target/
pom.xml
pom.xml.asc

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
